<div id="landingContainer" style="display: none;">
    <div id="upper">
        <div id="left">
			<div id="image_seal_container">
				<div id="glitch_image_seal"></div>
				<div id="updateAvailableTooltip"></div>
			</div>
			
			                        <div class="mediaContainer" id="settingsMediaContainer">
                        </div>
                        <div class="mediaContainer">
                            <a href="<%- lang('landing.mediaGitHubURL') %>" class="mediaURL" id="linkURL">
                                <svg id="linkSVG" class="mediaSVG" viewBox="35.34 34.3575 70.68 68.71500">
                                    <g>
                                        <path d="M75.37,65.51a3.85,3.85,0,0,0-1.73.42,8.22,8.22,0,0,1,.94,3.76A8.36,8.36,0,0,1,66.23,78H46.37a8.35,8.35,0,1,1,0-16.7h9.18a21.51,21.51,0,0,1,6.65-8.72H46.37a17.07,17.07,0,1,0,0,34.15H66.23A17,17,0,0,0,82.77,65.51Z"/>
                                        <path d="M66,73.88a3.85,3.85,0,0,0,1.73-.42,8.22,8.22,0,0,1-.94-3.76,8.36,8.36,0,0,1,8.35-8.35H95A8.35,8.35,0,1,1,95,78H85.8a21.51,21.51,0,0,1-6.65,8.72H95a17.07,17.07,0,0,0,0-34.15H75.13A17,17,0,0,0,58.59,73.88Z"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="<%- lang('landing.mediaDiscordURL') %>" class="mediaURL" id="discordURL">
                                <svg id="discordSVG" class="mediaSVG" viewBox="35.34 34.3575 70.68 68.71500">
                                    <g>
                                        <path d="M81.23,78.48a6.14,6.14,0,1,1,6.14-6.14,6.14,6.14,0,0,1-6.14,6.14M60,78.48a6.14,6.14,0,1,1,6.14-6.14A6.14,6.14,0,0,1,60,78.48M104.41,73c-.92-7.7-8.24-22.9-8.24-22.9A43,43,0,0,0,88,45.59a17.88,17.88,0,0,0-8.38-1.27l-.13,1.06a23.52,23.52,0,0,1,5.8,1.95,87.59,87.59,0,0,1,8.17,4.87s-10.32-5.63-22.27-5.63a51.32,51.32,0,0,0-23.2,5.63,87.84,87.84,0,0,1,8.17-4.87,23.57,23.57,0,0,1,5.8-1.95l-.13-1.06a17.88,17.88,0,0,0-8.38,1.27,42.84,42.84,0,0,0-8.21,4.56S37.87,65.35,37,73s-.37,11.54-.37,11.54,4.22,5.68,9.9,7.14,7.7,1.47,7.7,1.47l3.75-4.68a21.22,21.22,0,0,1-4.65-2A24.47,24.47,0,0,1,47.93,82S61.16,88.4,70.68,88.4c10,0,22.75-6.44,22.75-6.44a24.56,24.56,0,0,1-5.35,4.56,21.22,21.22,0,0,1-4.65,2l3.75,4.68s2,0,7.7-1.47,9.89-7.14,9.89-7.14.55-3.85-.37-11.54"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
			<div id="bottom-sidebar">
					<button id="user_content">
						<div id="avatarContainer">
						</div>
					</button>
			                            <button class="mediaButton" id="settingsMediaButton">
											<i class="fa-solid fa-gear"></i>
                            </button>
				<button class="mediaButton" id="CreatorsMediaButton">
					<i class="fa-solid fa-gear"></i>
				</button>

			</div>
			</div>
        <div id="content">
        </div>
        <div id="right">
			<%if (process.platform =""== 'darwin') { %>
				<div id="frameButtonDockDarwin">
					<button class="frameButtonDarwin fCb" id="frameButtonDarwin_close" tabIndex="-1"></button>
					<button class="frameButtonDarwin fMb" id="frameButtonDarwin_minimize" tabIndex="-1"></button>
				</div>
				<% } else{ %>
					<div id="frameButtonDockWin">
						<button class="frameButton fMb" id="frameButton_minimize" tabIndex="-1">
							<svg name="TitleBarMinimize" width="10" height="10" viewBox="0 0 12 12">
								<rect stroke="#ffffff" fill="#ffffff" width="10" height="1" x="1" y="6"></rect>
							</svg>
						</button>
						<button class="frameButton fCb" id="frameButton_close" tabIndex="-1">
							<svg name="TitleBarClose" width="10" height="10" viewBox="0 0 12 12">
								<polygon stroke="#ffffff" fill="#ffffff" fill-rule="evenodd" points="11 1.576 6.583 6 11 10.424 10.424 11 6 6.583 1.576 11 1 10.424 5.417 6 1 1.576 1.576 1 6 5.417 10.424 1"></polygon>
							</svg>
						</button>
					</div>
				<% } %>
        </div>
    </div>

    <div id="lower">
        <div id="left">
            <div class="bot_wrapper">
                <div id="content">
                    <div id="server_status_wrapper">
                        <span class="bot_label" id="landingPlayerLabel"><%- lang('landing.serverStatus') %></span>
                        <span id="player_count"><%- lang('landing.serverStatusPlaceholder') %></span>
                    </div>
                    <div class="bot_divider"></div>
                    <div id="mojangStatusWrapper">
                        <span class="bot_label"><%- lang('landing.mojangStatus') %></span>
                        <span id="mojang_status_icon">&#8226;</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="center">
            <div class="bot_wrapper">
                <div id="content">
                    <button id="newsButton">
                        <!--<img src="assets/images/icons/arrow.svg" id="newsButtonSVG"/>-->
                        <div id="newsButtonAlert" style="display: none;"></div>
                        <svg id="newsButtonSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                        &#10;<span id="newsButtonText"><%- lang('landing.newsButton') %></span>
                    </button>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="bot_wrapper">
                <div id="launch_content">
                    <button id="launch_button"><%- lang('landing.launchButton') %></button>
                    <div class="bot_divider"></div>
                    <button id="server_selection_button" class="bot_label"><%- lang('landing.launchButtonPlaceholder') %></button>
                </div>
                <div id="launch_details">
                    <div id="launch_details_left">
                        <span id="launch_progress_label">0%</span>
                        <div class="bot_divider"></div>
                    </div>
                    <div id="launch_details_right">
                        <progress id="launch_progress" value="22" max="100"></progress>
                        <span id="launch_details_text" class="bot_label"><%- lang('landing.launchDetails') %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/landing.js"></script>
</div>